# Prerequisites
*.d

#Debug Path
TCP_Client_Qt/build-Client_UI-Desktop_Qt_5_14_0_MinGW_64_bit-Debug

TCP_Client_Qt/build-Client_UI-Desktop_Qt_5_14_0_MinGW_64_bit-Release

TCP_Client_Qt/build-Client_UI-Desktop_Qt_5_14_2_MinGW_64_bit-Debug

TCP_Client_Qt/build-Client_UI-Desktop_Qt_5_14_2_MinGW_64_bit-Release


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
